.superInput {
	width: 300px;
	height: 30px;
	padding: 0 10px;
	outline: none;
	border-radius: 5px;
	border: 1px solid #000;
	margin-bottom: 20px;
}

.superInput:focus {
	outline: none;
	border: 1px solid #000;
}

.errorInput {
	width: 300px;
	height: 30px;
	outline: none;
	border-radius: 5px;
	padding: 0 10px;
	border: 1px solid red;
	/* background: red; */
}

.error {
	color: red;
}