body {
    padding: 0;
    margin: 0;
    display: block;
}

* {
    box-sizing: border-box;
}

.main {
    position: relative;
    height: 100vh;
}

.main a {
    text-decoration: none;
}

.notfound {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    max-width: 410px;
    width: 100%;
    text-align: center;
}

.notfound_404 {
    height: 375px;
    position: relative;
    z-index: -1;
}

.notfound_404 h1 {
    font-family: montserrat,sans-serif;
    font-size: 230px;
    margin: 0;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url(../../assets/img/404/bg-404.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    font-family: montserrat,sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
}

.notfound p {
    font-family: montserrat,sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0;
}